.contenedor-detalles {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.details {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
}
.img-prod,
.details {
	margin: 20px;
	height: 100%;
	width: 50%;
	text-align: center;
}
.img-prod {
	max-width: 500px;
	max-height: 500px;
	border: 7px solid #fab43d;
	border-radius: 50%;
	padding: 75px;
}
.img-details {
	max-width: 500px;
	max-height: 300px;
}
.categoria {
	text-decoration: none;
	color: #fab43d;
}
.categoria:hover {
	color: #fab43d;
}
/* From uiverse.io by @Charly-T */
.loader {
	--moon-r: 0.7em;
	--planet-r: 1.75em;
	--planet-stroke-width: 4;
	--center: 50;
	--moon-max: 80;
	--moon-min: 20;
	--animation-duration: 4000ms;
	--planet-stroke: black;
	--planet-fill: white;
	--moon-fill: #fecb00;
	width: 7em;
}

.planet {
	cx: var(--center);
	cy: var(--center);
	r: var(--planet-r);
	fill: var(--planet-fill);
	stroke: var(--planet-stroke);
	stroke-width: var(--planet-stroke-width);
}

.moon {
	fill: var(--moon-fill);
	r: var(--moon-r);
}

.moon-front {
	animation: orbit0234 var(--animation-duration) ease-in-out infinite,
		orbit-front var(--animation-duration) linear infinite;
}

.moon-back {
	animation: orbit0234 var(--animation-duration) ease-in-out infinite;
}

@keyframes orbit0234 {
	0% {
		cx: var(--moon-max);
		cy: var(--moon-min);
	}

	50% {
		cx: var(--moon-min);
		cy: var(--moon-max);
	}

	100% {
		cx: var(--moon-max);
		cy: var(--moon-min);
	}
}

@keyframes orbit-front {
	0% {
		opacity: 0;
	}

	49% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}
}

@media (max-width: 900px) {
	.img-prod,
	.details {
		margin: 20px;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	.img-details {
		height: 100%;
	}
}
@media (max-width: 417px) {
	.img-prod,
	.details {
		margin: 20px;
		height: 100%;
		width: 100%;
		text-align: center;
	}
	.img-details {
		height: 100%;
		width: 100%;
	}
}
