.login {
	text-decoration: none;
	color: gray;
}
.login:hover {
	color: gray;
}
.imagen {
	width: 60px;
}
.carrito {
	margin-left: auto;
}
.boton-nav {
	background-color: transparent;
	border: 1px solid transparent;
	text-align: center;
	color: grey;
}
.navbar-orden {
	justify-content: center;
	text-align: center;
	display: flex;
	align-items: center;
}
