.finalizar-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.formulario,
.detalles-pagar {
	padding: 30px;
	width: 50%;
}
.formulario {
	border-right: 1px solid #fab43d;
}
.img-orden {
	margin-top: 20px;
	width: 200px;
}
.texto-orden {
	color: #fab43d;
}
@media (max-width: 800px) {
	.finalizar-container {
		flex-direction: column-reverse;
	}
	.formulario,
	.detalles-pagar {
		padding: 30px;
		width: 100%;
	}
}
